/Dokumentacija/*.aux
/Dokumentacija/*.lof
/Dokumentacija/*.log
/Dokumentacija/*.lot
/Dokumentacija/*.out
/Dokumentacija/*.pdf
/Dokumentacija/*.synctex.gz
/Dokumentacija/*.toc

/IzvorniKod/backend-spring-boot/.idea/*
.idea
/IzvorniKod/backend-spring-boot/*.iws
/IzvorniKod/backend-spring-boot/*.iml
/IzvorniKod/backend-spring-boot/*.ipr
IzvorniKod/backend-spring-boot/.settings/*
IzvorniKod/backend-spring-boot/target/classes/*
IzvorniKod/backend-spring-boot/target/test-classes/*
IzvorniKod/backend-spring-boot/.classpath
IzvorniKod/backend-spring-boot/.project
