.FormRow {
   margin: 8px 0;
}

.Login .FormRow:first-child {
   margin-top: 0;
}

.FormRow label {
   display: block;
   margin-bottom: 2px;
}

.FormRow input {
   font-size: 20px;
   padding: 5px;
   border: 2px solid #aaa;
   border-radius: 10px;
}

.FormRow input[name="streetnumber"]{
   width: 50px;
}

.Login button {
   background: none;
   border: 2px solid white;
   padding: 5px 12px;
   font-size: 20px;
   cursor: pointer;
   margin: 10px;
   border-radius: 10px;
   color: white;
}

.Login button:hover {
   background-color: #aaa;
}

.Login button:disabled {
   color: #ddd;
}

.Login .error {
   color: red;
   margin-bottom: 8px;
}

.wrapper {
   display: block;
   align-items: center;
   text-align: center;
}

.wrapperCard{
   height:calc(100% - 50px);
   overflow-y: scroll;
}

.CardThreadView::-webkit-scrollbar {
   width:7px;
}
.CardThreadView::-webkit-scrollbar-track {
   -webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3); 
   border-radius:5px;
}
.CardThreadView::-webkit-scrollbar-thumb {
   border-radius:5px;
   -webkit-box-shadow: inset 0 0 10px #A555B9; 
}

.inner {
   display: inline-block;
   vertical-align: middle;
   margin: 0;
}
.innerRep{
   display: flex;
   align-items: center;
}



.pTV{
   margin-left:20px;
   font-size: medium;
}

.headerdistPost{
  margin: auto;
}

.ThreadViewMain{
   width: 100%;
}

.delete {
   border: none;
   min-width: 20px;
   min-height: 20px;
   background-color: rgb(255, 101, 101);
   border-radius: 100%;
   text-align: center;
   padding: 0;
}

.delete:hover {
   background-color: red;
   cursor: pointer;
}

.logres {
   margin: auto;
   width: 600px;
}

img {
   margin: auto;
   width: 600px;
   object-fit: contain;
}
